## Agenda:
####    1. What is Python and Why Python ?
####    2. Tools to use for Python programming.
####    3. Variables and Datatypes
####    4. Strings

In [ ]:
1. What is Python and Why Python ?
- Python-OOPS(Object Oriented Programminh Language)-> Classes and Objects
Advantages of Python:
    - OOPS
    - Easy to learn
    - Understandable Code and High Readability
    - Widely Used in Data Science/DL/AI/ML
    - Also in many Integration Systems.
    
Disadvantages:
    - Python does not work with a compiler. Python is an interpreted programming language.

In [ ]:
Compiler and Interpreter

Interpreter : computer understands Binary Lang (0s and 1s)
              It is then convrtd to HLL and then Executed.

In [ ]:
2. Tools to use for Python programming.
  - Jupyter Notebook (Anaconda)
  - PyCharm (IDE)
  - VS-Code (Visual Studio -> IDE)

In [ ]:
3. Variables :

you will give me ur address. I will see you in your address.
    V-2 -> Shivani

In [15]:
a = -9

In [16]:
type(a)

int

In [24]:
b = "-Shivani"

In [25]:
type(b)

str

In [30]:
st = "-"

In [31]:
type(st)

str

In [17]:
c = -0.576

In [18]:
type(c)

float

In [7]:
print(a)

9

In [ ]:
3. Datatypes: 
    1. String
    2. Integer
    3. Float
    4. Complex

In [ ]:
4. Strings : Anything written within the double quotes is a string. Strings are a collection/sequence of characters.
    Property:
        1. It is immutable(Once the value is assigned we can't change it)

In [60]:
a = "Akash"

In [61]:
a

'Akash'

In [57]:
First_Name = "Shivani"

In [58]:
Last_Name = "Chandel"

In [62]:
a

'Akash'

In [63]:
c = a[2]

In [64]:
c

'a'

In [65]:
type(len(a))

int

In [ ]:
Ask is: I want to merge Shivani and Chandel and form "Shivani Chandel"

In [66]:
First_Name

'Shivani'

In [68]:
Last_Name

'Chandel'

In [113]:
Full_Name = First_Name + " " + Last_Name   # Concatenation of Strings

In [115]:
Full_Name

'Shivani Chandel'

In [73]:
Full_Name_dum = First_Name + " " +Last_Name + 9

TypeError: can only concatenate str (not "int") to str

In [74]:
type(First_Name)

str

In [75]:
type(Last_Name)

str

In [76]:
type(" ")      # Space within Double Quotes is also considered a character in a string

str

In [ ]:
String Slicing

In [87]:
Full_Name

'Shivani Chandel'

In [81]:
Full_Name[2]

'i'

In [82]:
Full_Name[0:4]  
# Lower Bound = 0
# Upper Bound = 4
# The count will continue from (Lower Bound) to (Upper Bound -1)

'Shiv'

In [107]:
re = Full_Name[0:7]

In [108]:
re

'Shivani'

In [99]:
re[::3]

'Svi'

In [102]:
re[::-1]   # Prints the string in a reverse order

'inavihS'

In [112]:
re[7:0:-1]

'inavih'

In [ ]:
Task : 
    1. Take "Akash Nandi" and store it in a variable.
    2. Extract "Akash" and "Nandi" and store in separate variables first and last
    3. Perform Slicing operation to print the last name in a reverse order.
    4. Perform Slicing Operation on the First Name with a step of 2.

In [ ]:
Task Concatenation:
    1. Take two variables and store "Akash" and "Nandi"
    2. Perform Concatenation between the two in such a way that the Last Name is shown first and the First Name is shown at last.
    3. Store 3 and 9 in two variables as a string and print 39 and 93 as string datatypes.